.header {
  border-bottom: 1px solid #817f7f;
  height: 50px;
  padding: 10px;
  position: fixed;
  top: 0; /* Positioned at the top of the viewport */
  left: 0; /* Aligned to the left edge */
  width: 100vw; /* Full viewport width */
  background-color: #fff; /* Light background color */
  z-index: 10; /* Ensure header stays on top even when scrolling */
}
