.header {
  border-bottom: 1px solid #817f7f;
  height: 50px;
  padding: 10px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: #fff;
  z-index: 10;
}
